$color--pink: #ffc2c9;
$color--dark: #2b1719;
$color--pink-neon: rgb(255, 53, 87);



@media (max-width:360px){
  .link {
    transform: translateY(-5vh);
  }
  @media (max-height: 620px){
    .link {
      transform: translateY(0);
    }
  }
};


// @media (max-width:265px){
//   .link {
//     transform: translateY(-10vh);
//   }
// };
// @media (max-width:180px){
//   .link {
//     transform: translateY(-15vh);
//   }
// };

* {
  cursor: default;
  user-select: none;
}


body {
  position: relative;
  background-color: $color--pink;
  font: {
      family: 'Raleway', sans-serif;
      size: 10vh;
      weight: 700;
    };
  header {
    display: flex;
    color: $color--dark;
    margin: {
      left: 2vw;
      top: 2vh;
    };
    
    h1 {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      font: {
        size: 5vh;
        weight: light;
      };
      padding: {
        top: 2vh;
      }
    }
  }
  .switch {
    position: fixed;
    top: -10vh;
    right: 10vw;
    z-index: 4;
    
    img {
      height: 40vh;
    }
  }
  
  .logo {
    .wrapper {
      position: relative;
      height: 55vh;
      margin: {
        top: 10vh;
      };
    }
    img {
      max-height: 50vh;
      max-width: 80vw;
      left: 0; right: 0;
      margin: auto;
    }
    .beef {
      position: absolute;
      transition: 1.5s;
      z-index: 3;
      &.active {
        transform: translateY(-10vh) scale(1.1);
        & + .shadow {
          transform: translateY(10vh) scale(0.9);
        }
        & ~ .link {
          transform: translateY(40vh) rotate(-345deg);
          pointer-events: auto;
        }
      }
    }
    .shadow {
      position: absolute;
      transition: 1.5s;
      top: 5vh;
      pointer-events: none;
      z-index: 2;
    }
    .link {
      position: absolute;
      transition: 1.5s;
      transform-origin: center;
      max-width: 19vh;
      width: 15vw;
      left: 0;
      right: 0;
      top: 10vh;
      margin: auto;
      font-size: 0;
      pointer-events: none;
      outline: none;
      img {
        height: auto;
      }
    }
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 1px solid gray;
    min-width: 300px;
    margin: 10vh auto 1vh;
    text-align: center;
    font: {
      size: 2vw;
    };
    .material-icons {
      cursor: default;
      font-size: 2vw;
    }
  }

  // .light-on {
  //   color: white;
  //   text-shadow: 0 0 7px rgb(255, 197, 207), 0 0 10px rgb(255, 197, 207), 0 0 21px rgb(255, 197, 207), 0 0 42px $color--pink-neon,
  //   0 0 82px $color--pink-neon, 0 0 102px $color--pink-neon, 0 0 151px $color--pink-neon;
  //   // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color--pink-neon,
  //   // 0 0 82px $color--pink-neon, 0 0 92px $color--pink-neon, 0 0 102px $color--pink-neon, 0 0 151px $color--pink-neon;
  // }
}


