$color--pink: #ffc2c9;
$color--text: #2b1719;
$color--dark: #5c4447; 
$color--pink-neon: rgb(255, 53, 87);





@media (max-width:360px){
  .link {
    transform: translateY(-5vh);
  }
  @media (max-height: 620px){
    .link {
      transform: translateY(0);
    }
  }
};


// @media (max-width:265px){
//   .link {
//     transform: translateY(-10vh);
//   }
// };
// @media (max-width:180px){
//   .link {
//     transform: translateY(-15vh);
//   }
// };

* {
  cursor: default;
  user-select: none;
}


body {
  position: relative;
  transition: 1.5s;
  background-color: $color--dark;
  min-height: 95vh;
  font: {
      family: 'Raleway', sans-serif;
      size: 10vh;
      weight: 700;
    };
  header {
    display: flex;
    color: $color--text;
    margin: {
      left: 2vw;
      top: 2vh;
    };
    h1 {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      font: {
        size: 5vh;
        weight: light;
      };
      padding: {
        top: 2vh;
      }
    }
  }
  .switch {
    position: fixed;
    top: -15vh;
    right: 10vw;
    z-index: 1000;
    img {
      height: 40vh;
    }
  }
  
  .logo {
    .wrapper {
      position: relative;
      height: 45vh;
      margin: {
        top: 10vh;
      };
    }
    img {
      max-height: 45vh;
      max-width: 80vw;
      left: 0; right: 0;
      margin: auto;
    }
    .beef {
      position: absolute;
      transition: filter 2s 0s, transform 1.5s 0s;
      filter: brightness(.3);
      z-index: 3;
      &.active {
        transform: translateY(-10vh) scale(1.1);
        & + .shadow {
          transform: translateY(10vh) scale(0.9);
        }
        & ~ .link {
          transform: translateY(30vh) rotate(-345deg);
          pointer-events: auto;
        }
      }
      &.bright {
        filter: brightness(1);
        transition: filter 2s 2s, transform 1.5s 0s;
      }
    }
    .shadow {
      position: absolute;
      transition: 1.5s;
      top: 5vh;
      pointer-events: none;
      z-index: 2;
    }
    .link {
      position: absolute;
      transition: 1.5s;
      transform-origin: center;
      max-width: 19vh;
      width: 15vw;
      left: 0;
      right: 0;
      top: 10vh;
      margin: auto;
      font-size: 0;
      pointer-events: none;
      outline: none;
      img {
        height: auto;
      }
    }
  }
  
  footer {
    // display: block;
    white-space: nowrap;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    // border: 1px solid gray;
    height: 17vh;
    line-height: 23vh;
    // position: absolute;
    // left: 0; 
    // right: 0;
    // bottom: 0;
    // min-width: 300px;
    margin: 5vh auto 5vh;
    text-align: center;
    color: $color--text;
    font: {
      size: 2vw;
    };
    .material-icons {
      cursor: default;
      font-size: 2vw;
    }
  }
}


